{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.es.gov.br/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Django</title>
</head>
<body>
    <div class="header">
        <div class="navbar">
            <div class="logo">
                <img class="img-logo" src="{% static 'img/img4.png' %}">
            </div>
            <div class="user">
                <ul>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            
            </div>
        </div>
        <div class="banner">
            <div class="app-text">
                <h1>Dream to<br>Accomplish</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing 
                    elit. Hic molestiae aliquam velit non alias.
                </p>
            </div>
        </div>

        <div class="about-services">
            <ul>
                <li>
                    <img src="{% static 'img/img1.png' %}">
                    <h1>Negotiation</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing 
                        elit. Hic molestiae aliquam velit non aliasmolestiae
                         aliquam velit non alias.
                    </p>
                </li>
                <li>
                    <img src="{% static 'img/img2.png' %}">
                    <h1>Documents</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing 
                        elit. Hic molestiae aliquam velit non aliasmolestiae
                         aliquam velit non alias.
                    </p>
                </li>
                <li>
                    <img src="{% static 'img/img3.png' %}">
                    <h1>Calendar</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing 
                        elit. Hic molestiae aliquam velit non aliasmolestiae
                         aliquam velit non alias.
                    </p>
                </li>
            </ul>
        </div>
    </div>
<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

    <div style="background-color: #21d192;">
      <div class="container">
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <!-- Facebook -->
            <a class="fb-ic" href="#">
                <i class="fa fa-facebook mr-4"></i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="#">
                <i class="fa fa-twitter mr-4"></i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic" href="#">
                <i class="fa fa-google mr-4"></i>
            </a>
            <!--Linkedin -->
            <a class="li-ic" href="#">
                <i class="fa fa-linkedin mr-4"></i>
            </a>
            <!--Instagram-->
            <a class="ins-ic" href="#">
                <i class="fa fa-instagram mr-4"></i>
            </a>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
      </div>
    </div>
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Company name</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit.</p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Products</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="#!">Product 1</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Product 2</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Product 3</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Product 4</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="#!">Your Account</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Become an Affiliate</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Shipping Rates</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Help</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fa fa-envelope mr-3"></i> info@example.com</p>
          <p>
            <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
          <p>
            <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
      <a class="dark-grey-text" href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

</body>
</html>